<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <!-- 필수 메타 태그 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>게시판</title>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2>게시판</h2>
                <h3 th:if="${loginStatus}" th:text="'안녕하세요 ' + ${member.username} +' 님! '"></h3>
                <h3 th:if="${updateProfile}" th:text="'수정 완료!'"></h3>

                <div>
                    <a href="login.html" th:href="@{/mypage}" class="btn btn-secondary mr-2">마이페이지</a>
                    <a href="write.html" th:href="@{/write}" class="btn btn-primary">글 작성</a>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 여기에 게시글 정보가 들어갈 예정입니다. -->
                    <tr th:each="post : ${posts}">
                        <th scope="row" th:text="${post.id}"></th>
                        <td><a th:href="@{'/detail/' + ${post.id}}" th:text="${post.title}">게시판 예제</a></td>
                        <td th:text="${post.username}">작성자1</td>

                        <td th:text="${post.postDate}">2023-07-30</td>

                    </tr>
                    <!-- 게시글 정보는 끝나는 부분 -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
